﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Upload video file to WEB API Project root directory</h4>
</div>

<div class="row">
    <div>
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Well done !</strong> Successfully uploaded.
                <p>@ViewBag.Success</p>
            </div>
        }
        else if (ViewBag.Failed != null)
        {
            <div class="alert alert-error" role="alert">
                <strong>Error !</strong> @ViewBag.Failed
            </div>
        }
    </div>
    @using (Html.BeginForm("UploadVideoFile2", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="col-md-4">
            <div class="form-group form-inline">
                <label>Upload File to Web API Root Path</label>
                <input type="file" id="file" name="file" accept="video/mp4,video/webm,video/mkv" />
            </div>
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</div>
<br />

<div class="row">
    @if (ViewBag.Files != null && ViewBag.Files.Count > 0)
    {
        foreach (var item in ViewBag.Files)
        {
            <div class="col-md-4">
                <h5>Play video from WEB API</h5>
                @*<video width="320" height="240" controls autoplay="autoplay" loop="loop" preload="auto">
                        <source src="@item" type="video/*" />
                    </video>*@
                <video width="320" height="240" controls autoplay="autoplay" loop="loop" preload="auto">
                    <source src="@Url.Content(item)" type="video/webm;video/mp4" />
                </video>
                @*<iframe width="320" height="240" src="@item" title="YouTube video player" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
            </div>
        }
    }
</div>
@* https://localhost:44324/Videos/76519819-1c8c-43fa-a2ad-a41197ca0057.mp4 *@


@section scripts{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $(".rootFile").show();
        //    $(".byteFile").hide();

        //    $("#btnRootFile").click(function () {
        //        $(".rootFile").show();
        //        $(".byteFile").hide();
        //    });
        //    $("#btnByteFile").click(function () {
        //        $(".byteFile").show();
        //        $(".rootFile").hide();
        //    });
        //});
    </script>
}