﻿@model IEnumerable<PlayVideoExWeb.Models.VideoFileModel>

@{
    ViewBag.Title = "Index2";
}
<br />
<br />
<div class="row">
    <div>
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Well done !</strong> Successfully uploaded.
            </div>
        }
        else if (ViewBag.Failed != null)
        {
            <div class="alert alert-error" role="alert">
                <strong>Error !</strong> @ViewBag.Failed
            </div>
        }
    </div>

    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="col-md-4">
            <div class="form-group form-inline">
                <label>Upload File to Database</label>
                <input type="file" id="file" name="file" accept="video/mp4,video/webm" />
            </div>
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    }
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Content Type")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                <a href="@Url.Action("PartialView","Home",new { id=item.Id})">Play Video</a>
            </td>
        </tr>
    }
</table>
<br />

@*@Html.Partial("~/Views/Home/VideoPlay.cshtml")*@

<div class="row byteFile">
    @if (ViewBag.Id != null && ViewBag.Id != Guid.Empty)
    {
        <div class="col-md-4">
            <h5>Play video from WEB API</h5>
            <video width="320" height="240" controls autoplay="autoplay" loop="loop" preload="auto">
                <source src="@Url.Action("Video","Home",new { id=ViewBag.Id})" type="video/webm;video/mp4" />
            </video>
        </div>
    }
</div>
@* https://localhost:44324/Videos/76519819-1c8c-43fa-a2ad-a41197ca0057.mp4 *@


@section scripts{
    <script type="text/javascript">

    </script>
}