﻿
<div class="row byteFile">
    @if (ViewBag.Id != null && ViewBag.Id != Guid.Empty)
    {
        <div class="col-md-4">
            <h5>Play video from WEB API</h5>
            @*<video width="320" height="240" controls autoplay="autoplay" loop="loop" preload="auto">
                    <source src="@item" type="video/*" />
                </video>*@
            <video width="320" height="240" controls autoplay="autoplay" loop="loop" preload="auto">
                <source src="@Url.Action("Video","Home",new { id=ViewBag.Id})" type="video/webm;video/mp4" />
            </video>
            @*<iframe width="320" height="240" src="@item" title="YouTube video player" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
        </div>
    }
</div>
@* https://localhost:44324/Videos/76519819-1c8c-43fa-a2ad-a41197ca0057.mp4 *@

