﻿<div class="jumbotron">
    <h1>Upload Video File API</h1>
</div>

<div class="row">

    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="col-md-6">
            <div class="form-group form-inline">
                <label>Convert Video file to Base64 string</label>
                <input type="file" id="file" name="file" accept="video/mp4" />
            </div>
            <input type="submit" value="Convert Video To Base64" class="btn btn-success" />
        </div>
    }
    <br />
</div>
<div class="row">
    <br />
    <div class="col-md-2">
        <input type="button" value="Clear" id="btnCancel" class="btn btn-danger" />
    </div>
    @if (ViewBag.Success != null)
    {
        <textarea id="b64Str" rows="15" style="width:100%;max-width:100%;">@ViewBag.Success</textarea>
    }
    else if (ViewBag.Failed != null)
    {
        <div class="alert alert-error" role="alert">
            <strong>Error !</strong> @ViewBag.Failed
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#b64Str").hide();
            $("#btnCancel").click(function () {
                $("#b64Str").val("");
            });

            //$('#btnSubmit2').click(function (e) {
            //    e.preventDefault();
            //    var formData = new FormData();

            //    var file = document.getElementById("FileUpload").files[0];
            //    formData.append("File", file);

            //    $.ajax({
            //        type: "POST",
            //        url: '/Home/ConvertVideoToBase64Str2',
            //        data: formData,
            //        dataType: 'json',
            //        contentType: false,
            //        processData: false,
            //        success: function (result) {
            //            if (result.Success) {
            //                $("#b64Str").show();
            //                $("#b64Str").val("");
            //                $("#b64Str").val(result.Data);
            //            }
            //        },

            //    });
            //});
        });
    </script>
}
